*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    font-family:monospace;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}
body{
    background-color: skyblue;
    width: 100%;
    min-height: 100vh;
}